pip==21.3.1
pandas==1.2.3
langchain
panel
pystac_client
openai
#odc-tools #needed!
ipywidgets_bokeh
# geogif
fire
psycopg2-binary
rasterio
# stackstac
odc-stac
botocore
odc-algo
psycopg2
rasterio
rioxarray
spyndex
xarray_leaflet